<div class="col-md-10 mx-auto mt-5">

  <h2 class="text-center">新規会員登録</h2>

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-center field mt-5">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="text-center field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="text-center field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %> 文字以上）</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="text-center field">
      <%= f.label :パスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="text-center actions mt-5">
      <%= f.submit "会員登録する", class:"btn btn-dark", style:"width:200px" %>
    </div>
  <% end %>

  <div class="text-center pt-5">
    <h7>既に会員の方　↓</h7>
    <p><%= link_to "こちら",new_user_session_path %></u>　からログインしてください。</p>
  </div>

</div>
