<h1 class="text-center mt-5">Edit AdventureðŸ¤¿</h1>

<div class="col-8 offset-2 mt-5">
  <%= form_with model: @dive, local: true do |f| %>

    <div class="form-group row", style="overflow: scroll;">
      <div class="col-4"><%= f.label :ç”»åƒ %></div>
      <div class="col-8"><%= f.attachment_field :image %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :ãƒã‚¤ãƒ³ãƒˆå %></div>
      <div class="col-8"><%= f.text_field :dive_point, placeholder: "æ½œã£ãŸãƒ€ã‚¤ãƒ“ãƒ³ã‚°ãƒã‚¤ãƒ³ãƒˆ", class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :ã‚¿ã‚¤ãƒˆãƒ« %></div>
      <div class="col-8"><%= f.text_field :title, placeholder: "ï¼‘ï¼˜æ–‡å­—ä»¥å†…", class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :å†…å®¹ %></div>
      <div class="col-8"><%= f.text_area :body, placeholder: "ã“ã“ã«å†…å®¹ã‚’è¨˜è¿°ã—ã¾ã™", class: "form-control", rows: "5" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :æ°´æ¸© %></div>
      <div class="col-8"><%= f.select :water_temperature,[['ï¼‘ï¼â„ƒä»¥ä¸‹' ], ['ï¼‘ï¼ã€œï¼‘ï¼“â„ƒ'],['ï¼‘ï¼“ã€œï¼‘ï¼•â„ƒ'],['ï¼‘ï¼•ã€œï¼‘ï¼˜â„ƒ'],['ï¼‘ï¼˜ã€œï¼’ï¼â„ƒ'],['ï¼’ï¼ã€œï¼’ï¼“â„ƒ'],['ï¼’ï¼“ã€œï¼’ï¼•â„ƒ'],['ï¼’ï¼•ã€œï¼’ï¼˜â„ƒ'],['ï¼’ï¼˜ã€œï¼“ï¼â„ƒ'],['ï¼“ï¼â„ƒä»¥ä¸Š']], {prompt:'é¸æŠž'}, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :æ½œæ°´æ·±åº¦ %></div>
      <div class="col-8"><%= f.select :maximum_depth, [['ï¼•ã€œï¼—m' ], ['ï¼—ã€œï¼‘ï¼m'],['ï¼‘ï¼ã€œï¼‘ï¼•m'],['ï¼‘ï¼•ã€œï¼’ï¼m'],['ï¼’ï¼ã€œï¼’ï¼•m'],['ï¼’ï¼•ã€œï¼“ï¼m'],['ï¼“ï¼ã€œï¼“ï¼•m'],['ï¼“ï¼•mã€œ']], {prompt:'é¸æŠž'}, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :æ™‚æœŸ %></div>
      <div class="col-8"><%= f.select :season, [['ï¼‘æœˆ' ], ['ï¼’æœˆ'],['ï¼“æœˆ'],['ï¼”æœˆ'],['ï¼•æœˆ'],['ï¼–æœˆ'],['ï¼—æœˆ'],['ï¼˜æœˆ'],['ï¼™æœˆ'],['ï¼‘ï¼æœˆ'],['ï¼‘ï¼‘æœˆ'],['ï¼‘ï¼’æœˆ']], {prompt:'é¸æŠž'}, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :åˆ©ç”¨ã—ãŸã‚·ãƒ§ãƒƒãƒ— %></div>
      <div class="col-8"><%= f.text_field :dive_shop, placeholder: "ãƒ€ã‚¤ãƒ“ãƒ³ã‚°ã‚·ãƒ§ãƒƒãƒ—å (ã‚»ãƒ«ãƒ•ãƒ€ã‚¤ãƒ“ãƒ³ã‚°ï¼‰", class: "form-control" %></div>
    </div>

    <div class="text-center mt-5">
      <%= f.submit "æ›´æ–°", class: "btn btn-success", style: "width:120px" %>
      <%= link_to "å‰Šé™¤", dive_path(@dive.id), method: :delete, data: {confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ"}, class: "btn btn-danger", style:"width:120px" %>
    </div>

  <% end %>
</div>