<h1 class="text-center mt-5 mr-2">ハッシュタグ #<%= @tag.hashname %>・<%= @dives.count %>件</h1>

<div class="container col-md-6 mb-5">
  <div class="scroll-list jscroll">
    <div class="card-list-container ml-4 pt-3 row">
      <% @dives.includes(:user).each do |dive| %>
        <div class="card mr-2 mt-4 shadow-lg">
          <%= link_to dive_path(dive) do %>
            <%= attachment_image_tag dive, :image, :fill, 300, 230 ,class:"card-img-top py-2 px-2";%>
          <% end %>
          <div class="card-body">
          <div class="text-center card-title">
            <div class="mb-2">
              <%= dive.created_at.strftime('%Y/%m/%d') %>
            </div>
            <%= attachment_image_tag dive.user, :profile_image, size: "25x25", class: "rounded-circle" %>
            <%= link_to dive.user.name, user_path(dive.user_id) %>
          </div>
          <div class="text-center card-title"><%= dive.title %></div>
          <div class="text-center card-title">❤️<%= dive.favorites.count %>　・　💬<%= dive.dive_comments.count %></div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @dives %>
  </div>
</div>