<h1 class="text-center mt-5">All Adventures 🤿</h1>

<%= search_form_for @q, url: search_dives_path do |f| %>
  <div class="text-center mt-5">
    <%= f.search_field :title_cont, required: true, placeholder: "タイトルで検索！" %>
    <%= f.submit '検索', class: "ml-1" %>
  </div>
<% end %>

<div class="container col-md-6 mb-5">
  <div class="scroll-list jscroll">
    <div class="card-list-container pt-3 row">
      <% @dives.includes([:user]).each do |dive| %>
        <div class="card mx-auto mt-4 shadow-lg">
          <%= link_to dive_path(dive) do %>
            <%= attachment_image_tag dive, :image, :fill, 300, 230 ,class: "card-img-top py-2 px-2";%>
          <% end %>
          <div class="card-body">
          <div class="text-center card-title">
            <div class="mb-2">
              <%= dive.created_at.strftime('%Y/%m/%d') %>
            </div>
            <%= attachment_image_tag dive.user, :profile_image, size: "25x25", class: "rounded-circle" %>
            <%= link_to dive.user.name, user_path(dive.user_id) %>
          </div>
          <div class="text-center card-title"><%= dive.title %></div>
          <div class="text-center card-title">❤️<%= dive.favorites.count %>　・　💬<%= dive.dive_comments.count %></div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @dives %>
  </div>
</div>