<h1 class="text-center mt-5">Adventures🤿</h1>

<div class="row offset-1 mt-5">
  <div class="col-lg-5">
    <%= attachment_image_tag @dive, :image, :fill, 500, 350 %>
    <%= render 'favorites/favorite', dive: @dive %>
    <%= render 'dive_comments/comment', dive: @dive, dive_comment: @dive_comment %>
  </div>

  <div class="col-lg-7">

    <div class="row">
      <div class="detail col-5">ユーザーネーム</div>
      <div class="answer col-7"><%= @dive.user.name %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">ポイント名</div>
      <div class="answer col-7"><%= @dive.dive_point %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">内容</div>
      <div class="answer col-7"><%= @dive.body %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">水温</div>
      <div class="answer col-7"><%= @dive.water_temperature %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">潜水深度</div>
      <div class="answer col-7"><%= @dive.maximum_depth %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">時期</div>
      <div class="answer col-7"><%= @dive.season %></div>
    </div>

    <div class="row mt-3">
      <div class="detail col-5">利用したショップ</div>
      <div class="answer col-7"><%= @dive.dive_shop %></div>
    </div>

    <% if @dive.user == current_user %>
      <div class="text-center mt-5">
        <%= link_to "編集する", edit_dive_path(@dive), class: "btn btn-success" %>
      </div>
    <% end %>

  </div>
</div>