<h1 class="text-center mt-5">Edit Profile ðŸ‘¤</h1>

<div class="col-8 offset-2 mt-5">
  <%= form_with model: @user, local: true do |f| %>

    <div class="form-group row", style="overflow: scroll;">
      <div class="col-4"><%= f.label :ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç”»åƒ %></div>
      <div class="col-8"><%= f.attachment_field :profile_image %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒãƒ¼ãƒ  %></div>
      <div class="col-8"><%= f.text_field :name, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :ç´¹ä»‹æ–‡ %></div>
      <div class="col-8"><%= f.text_field :profile, class: "form-control" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4"><%= f.label :ãƒ€ã‚¤ãƒãƒ¼ã‚ºãƒ©ãƒ³ã‚¯ %></div>
      <div class="col-8"><%= f.select :diver_rank,[['ã‚ªãƒ¼ãƒ—ãƒ³ã‚¦ã‚©ãƒ¼ã‚¿ãƒ¼' ], ['ã‚¢ãƒ‰ãƒãƒ³ã‚¹ãƒ‰'],['ãƒ¬ã‚¹ã‚­ãƒ¥ãƒ¼'],['ãƒžã‚¹ã‚¿ãƒ¼ãƒ»ã‚¹ã‚¯ãƒ¼ãƒ'],['ãƒ€ã‚¤ãƒ–ãƒžã‚¹ã‚¿ãƒ¼'],['ã‚¤ãƒ³ã‚¹ãƒˆãƒ©ã‚¯ã‚¿ãƒ¼ä»¥ä¸Š']], {prompt:'é¸æŠž'}, class: "form-control" %></div>
    </div>

    <div class="text-center mt-5">
      <%= f.submit "æ›´æ–°", class: "btn btn-success", style: "width:120px" %>
      <%= link_to "é€€ä¼šã™ã‚‹", quit_user_path, class: "btn btn-danger", style:"width:120px" %>
    </div>

  <% end %>
</div>
