<h2 class="fav text-center mt-5">〜 毎日更新 〜</h2>
<h2 class="all_rank text-center pt-1 mb-5">日別いいねランキング ❤️ ベスト３</h1>

  <div class="container mb-3">
    <div class="row">
      <div class="col-md-12">

      <% @all_ranks.each.with_index(1) do |dive, i| %>

      <div class="text-center mr-2 mt-3">
        <% if i == 1 %>
        <span class="text-center text-dark"><i class="fas fa-award text-warning mb-2"></i>第１位</span></br>
        <div class="line mb-2">
          【<%= dive.title %>】
        </div>
        <div class="mb-3">投稿者：
          <%= attachment_image_tag dive.user, :profile_image, size: "25x25", class: "rounded-circle" %>
          <%= link_to dive.user.name, user_path(dive.user_id) %>
        </div>
        <div class="rank">
          <%= link_to dive_path(dive) do %>
            <div class="img-thumbnail"><%= attachment_image_tag dive, :image, :fill, 300, 230 ,class:"card-img-top py-2 px-2";%></div>
          <% end %>
        </div>
        <% elsif i  == 2 %>
        <span class="text-center text-dark"><i class="fas fa-award text-warning mb-2"></i>第２位</span></br>
        <div class="line mb-2">
          【<%= dive.title %>】
        </div>
        <div class="mb-3">投稿者：
          <%= attachment_image_tag dive.user, :profile_image, size: "25x25", class: "rounded-circle" %>
          <%= link_to dive.user.name, user_path(dive.user_id) %>
        </div>
        <div class="rank">
          <%= link_to dive_path(dive) do %>
            <div class="img-thumbnail"><%= attachment_image_tag dive, :image, :fill, 300, 230 ,class:"card-img-top py-2 px-2";%></div>
          <% end %>
        </div>
        <% elsif i  == 3 %>
        <span class="text-center text-dark"><i class="fas fa-award text-warning mb-2"></i>第３位</span></br>
        <div class="line mb-2">
          【<%= dive.title %>】
        </div>
        <div class="mb-3">投稿者：
          <%= attachment_image_tag dive.user, :profile_image, size: "25x25", class: "rounded-circle" %>
          <%= link_to dive.user.name, user_path(dive.user_id) %>
        </div>
        <div class="rank">
          <%= link_to dive_path(dive) do %>
            <div class="img-thumbnail"><%= attachment_image_tag dive, :image, :fill, 300, 230 ,class:"card-img-top py-2 px-2";%></div>
          <% end %>
        </div>
          <% end %>
      </div>

      <% end %>

    </div>
  </div>
</div>